<h1>Extrato Translações</h1>
<br>
<%= link_to "Nova Translação",  new_translation_path,  class:"btn btn-outline-primary" %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tipo da Translação</th>
      <th scope="col">Valor da Translação</th>

    </tr>
  </thead>

  <tbody>
    <% @translations.each do |article| %>
      <br>
      <tr>
       <th>
          <%= article.id %>
        </th>
        <th>
          <%= article.translation_type %>
        </th>
        <th>
          R$ <%= article.translation_value %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>
