<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar col-md-3 col-lg-2 me-0 px-3 fs-6" href="/user"> <%= image_tag("cover.jpg", alt:"logo", class: 'logo')%></a>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
    <%= image_tag(current_user.avatar, alt:"mdo", width:"65", height:"65", class:"rounded-circle") %> <br> 
    </div>
  </div>
</header>

 
